.filtros-tienda {
  margin-left: 30px;
  padding: 20px;
  border-left: solid 1px var(--color-primario);
  border-right: solid 1px var(--color-primario);
}
.filtros-tienda * {
  color: var(--color-primario) !important;
}

.filtros-tienda .filtros {
  padding: 10px 0 !important;
}
.filtros-tienda .ant-row {
  align-items: center;
  justify-content: center;
}

.filtros-tienda .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border: solid 1px var(--color-primario);
  padding: 2px 15px;
  border-radius: 5px;
  margin: 5px;
}
.filtros-tienda .agrupaciones {
  padding-top: 10px;
}
.filtros-tienda .agrupaciones ul.ant-list-items {
  max-height: 200px;
  overflow-y: scroll;
}

.filtros-tienda .agrupaciones ul.ant-list-items::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.filtros-tienda .agrupaciones ul.ant-list-items::-webkit-scrollbar-thumb {
  background: var(--color-primario);
  border-radius: 4px;
}