.recomendaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1080px;
  margin: auto;
}

.recomendaciones .ant-typography {
  color: var(--color-primario) !important;
  margin: 0 10px !important;
  font-size: 50px;
  width: 100%;
  border-bottom: 1px solid var(--color-primario) !important;
  border-top: 1px solid var(--color-primario) !important;
  padding: 30px;
  margin-bottom: 50px !important;
}
.recomendaciones .row {
  display: flex;
  flex-direction: row;
}

.recomendaciones .row .rectangular {
  width: 150px;
  height: 300px;
  margin: 5px;
}

.recomendaciones .row .cuadrado {
  width: 300px;
  height: 300px;
  margin: 5px;
}

.recomendaciones .row img:hover {
  cursor: pointer;
  transition-duration: 1s;
  transform: scale(1.02);
}

/*recomendacion*/
.item-recomendaciones h1.ant-typography {
  color: var(--color-primario) !important;
}

.item-recomendaciones span.ant-typography {
  color: var(--color-cuaternario) !important;
}
.item-recomendaciones .ant-col-14,
.item-recomendaciones .ant-col-10  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*movile*/
@media only screen and (max-width: 600px) {
  .recomendaciones {
    width: 95%;
  }

  .recomendaciones .ant-typography {
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px !important;
  }

  .recomendaciones .row .rectangular {
    width: 13%;
    height: auto;
    margin: 1px;
  }

  .recomendaciones .row .cuadrado {
    width: 26%;
    height: auto;
    margin: 1px;
  }
  .recomendaciones .row {
    justify-content: center;
  }
  .item-recomendaciones .ant-col-14>.ant-row {
    max-height: 200px;
    overflow-y: scroll;
  }
}
