.head {
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.head .icons {
  margin-right: 100px !important;
}
.head .logo {
  height: 50px;
  background-color: white;
  padding: 0;
  margin: 0;
}
.head .logo img {
  position: absolute;
  top: -10px;
  left: 60px;
  z-index: 99;
}

/*menu*/
.ant-layout-header .ant-menu {
  background-color: white;
  border: 0 !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:not(:focus),
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  border: 0 !important;
  height: 68px !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:not(:focus),
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  border: 0 !important;
}

.ant-menu-item .ant-menu-item-only-child {
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head .items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .items code:hover,
.head .items code:active,
.head .items code:focus,
.head .items code:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding-top: 0;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--color-primario) !important;
  color: var(--color-terciario) !important;
}

.head .ant-typography code {
  border: 0 !important;
  background-color: transparent !important;
  font-size: 17px !important;
  color: var(--color-primario) !important;
}

.head h3.ant-typography {
  height: 100% !important;
}
.head .icons:not(:focus) {
  color: var(--color-primario) !important;
}
.head .icons svg {
  margin-bottom: 100px;
}
.head .item-menu {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
svg:not {
  color: var(--color-primario);
}
.head a {
  color: var(--color-primario) !important;
  font-size: 17px !important;
}
.head a:hover {
  color: var(--color-terciario) !important;
}

.head svg:hover {
  color: var(--color-primario);
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-terciario) !important;
  transform: scale(1.1);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  margin: 0 !important;
  padding-left: 20px !important;
}

.head div.ant-col.ant-col-6 {
  background-color: black !important;
}

/*prueba menu*/

.ant-menu-vertical > .ant-menu-item {
  height: auto !important;
}

.ant-menu-vertical > .ant-menu-item svg:not(:root) {
  margin-bottom: 8px;
}

/*menu carrito*/

div.ant-menu-submenu.ant-menu-submenu-popup.ant-menu-light.ant-menu-submenu-hidden {
  width: max-content;
  cursor: default !important;
}

.menu-carrito {
  margin-top: 20px;
  cursor: default !important;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.menu-carrito .items {
  max-height: 280px;
  overflow-y: scroll;
}

.menu-carrito .items::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.menu-carrito .items::-webkit-scrollbar-thumb {
  background: var(--color-primario);
  border-radius: 4px;
}

.menu-carrito .items > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-carrito .items .item-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
}

.menu-carrito .items .ant-row {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-carrito .items .item-menu .ant-col-6 {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu-carrito .items .item-menu .ant-col-18 {
  text-align: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-carrito h4.ant-typography {
  text-align: center;
  width: 100%;
  line-height: 20px;
}

.menu-carrito .totales h4.ant-typography {
  padding-top: 20px;
}

.menu-carrito .totales span.ant-typography {
  line-height: 14px;
  font-size: 21px;
  font-weight: normal;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}
.menu-carrito a {
  width: 100%;
}
.menu-carrito button {
  width: 100%;
  height: max-content;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: var(--color-primario);
  color: white;
  border-radius: 10px;
  -webkit-transition: 0s all;
  -webkit-transition-delay: 0s;
  -moz-transition: 0s all;
  -moz-transition-delay: 0s;
  -ms-transition: 0s all;
  -ms-transition-delay: 0s;
  -o-transition: 0s all;
  -o-transition-delay: 0s;
  transition: 0s all;
  transition-delay: 0s;
}

.menu-carrito button:hover,
.menu-carrito button:focus,
.menu-carrito button:target {
  box-shadow: none;
  color: var(--color-primario);
  border-color: var(--color-primario);
}

/*movile*/
.head-movil {
  padding: 20px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

.ant-divider-horizontal {
  margin: 10px 0 2px 0 !important;
  background-color: var(--color-primario);
}
.head-movil .ant-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-menu-vertical .ant-typography {
  color: var(--color-primario) !important;
  font-weight: bold;
}

.ant-menu-vertical > .botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.head-movil svg {
  color: var(--color-primario) !important;
  font-size: 30px;
  font-weight: bold;
}

.head-movil svg:hover {
  cursor: pointer;
}

.ant-menu-vertical {
  border-right: none !important;
}
li.ant-menu-item.ant-menu-item-only-child {
  border-bottom: solid 1px var(--color-primario) !important;
}

@media only screen and (max-width: 600px) {
  .menu-carrito .items {
    max-height: 410px;
  }
}
