.head {
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  padding-top:20px ;
  padding-bottom: 30px;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.head .icons {
  margin-right: 100px !important;
}
.head .logo {
  height: 50px;
  background-color: white;
  padding: 0;
  margin: 0;
}
.head .logo img {
  position: absolute;
  top: -10px;
  left: 60px;
  z-index: 99;
}

/*menu*/
.ant-layout-header .ant-menu {
  background-color: white;
  border: 0 !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:not(:focus),
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  border: 0 !important;
  height: 68px !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:not(:focus),
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  border: 0 !important;
}

.ant-menu-item .ant-menu-item-only-child {
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head .items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .items code:hover,
.head .items code:active,
.head .items code:focus,
.head .items code:visited {
  display: flex;
  align-items: center;
  justify-content: cente5;
  border: 0;
  padding-top: 0;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--color-primario) !important;
  color: var(--color-terciario) !important;
}

.head .ant-typography code {
  border: 0 !important;
  background-color: transparent !important;
  font-size: 17px !important;
  color: var(--color-primario) !important;
}

.head h3.ant-typography {
  height: 100% !important;
}
.head .icons:not(:focus) {
  color: var(--color-primario) !important;
}
.head .item-menu {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.head a {
  color: var(--color-primario) !important;
  font-size: 17px !important;
}
.head a:hover {
  color: var(--color-terciario) !important;
}

.head svg:hover {
  color: var(--color-primario);
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-terciario) !important;
  transform: scale(1.1);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  margin: 0!important;
  padding-left: 20px!important;
}
