.articulo-tag .fila1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 25px !important;
  height: 40px;
  margin-bottom: 10px;
}

.articulo-tag .fila1 .ant-typography {
  color: var(--color-primario) !important;
}
.articulo-tag .fila2 .cuerpo {
  font-size: 14px;
  height: 210px;
  margin-bottom: 20px;
  line-height: 15px;
  overflow-y: scroll;
  margin-top: 5px;
  color: var(--color-cuaternario) !important;
}
.articulo-tag .fila2 .titulo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: var(--color-primario);
}

.articulo-tag .fila2 .cuerpo::-webkit-scrollbar {
  display: none;
}
.articulo-tag .fila3{
  margin-left: 35px ;
}

.articulo-tag .fila3 .ant-typography {
  color: gainsboro;
  width: 100%;
  font-size: 30px;

  line-height: 0;
  text-decoration:line-through ;
}

.articulo-tag .fila4 .ant-typography {
  padding-left: 10px;
  width: 100%;
  font-size: 45px;
  font-weight: bold;
  color: var(--color-primario) !important;
}
.articulo-tag .fila5{
  margin-top:20px
}

.articulo-tag .fila5 .ant-typography {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-terciario);
}

.articulo-tag .fila5 .ant-typography {
  font-weight: bold;
}

.articulo-tag .fila5 button {
  background-color: var(--color-primario);
  font-weight: bold;
  font-size: 14px;
  height: 95%;
  color: white;
  border-radius: 10px;
}

.articulo-tag .fila5 button:hover,
.articulo-tag .fila5 button:focus {
  box-shadow: none;
  border-color: var(--color-primario) !important;
}

/*input*/

.articulo-tag span.react-numeric-input {
  width: 80%;
}

.articulo-tag .input-edit {
  width: 100% !important;
  font-size: 30px !important;
  text-align: center;
  color: var(--color-primario) !important;
  border: solid 1px var(--color-primario) !important;
  border-radius: 5px !important;
}

.articulo-tag .react-numeric-input b {
  background-color: white !important;
  border: none !important;
}
.articulo-tag .react-numeric-input b i {
  color: var(--color-primario) !important;
}

/*estrellas*/
.estrellas-item-articulo {
  position: relative;
  display: inline-block;
}
.estrellas-cantidad-articulo {
  position: absolute;
  display: flex;
  background: var(--color-primario);
  width: min-content;
  max-height: 1000px;
  border-bottom-right-radius: 30px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: white;
  padding: 5px 8px 10px 5px;
  top: -5%;
  left: -2.9%;
  border-top-left-radius: 10px;
  z-index: 100;
}

/*movile*/
@media only screen and (max-width: 600px) {
  .articulo-tag .fila2,
  .articulo-tag .fila3,
  .articulo-tag .fila4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .articulo-tag .fila2 .nombre {
    color: var(--color-primario);
    font-size: 30px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 20px;
  }
  .articulo-tag .fila3 span.ant-typography {
    line-height: 0;
  }

  .articulo-tag .fila5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .articulo-tag .fila5 button {
    font-size: 30px;
    max-width: 100%;
    height: max-content;
  }
  .articulo-tag .fila2 .cuerpo {
    height: 80px !important;
  }
  .estrellas-cantidad-articulo {
    top: -4.5%;
    left: -8%;
  }

  .articulo-tag div.ant-col-12 {
    display: flex;
    justify-content: flex-end;
  }

  .articulo-tag div.ant-col-11 {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
  }
  .articulo-tag .fila2 .cuerpo {
    font-size: 14px;
    height: 94px;
  }

  /*input*/

  .articulo-tag span.react-numeric-input {
    margin-right: 0%;
    width: 100%;
    height: auto;
    font-size: 30px;
  }

  .articulo-tag .input-edit {
    width: 100% !important;
    font-size: 30px !important;
    font-weight: bold;
    text-align: center;
    color: var(--color-primario) !important;
    border: solid 2px var(--color-primario) !important;
    border-radius: 5px !important;
  }

  /*estrellas*/
  .estrellas-cantidad-articulo {
    max-height: auto;
    padding: 3px;
    top: -4%;
    left: -7%;
    border-top-left-radius: 10px;
    z-index: 100;
  }
}
