.car-shop {
  margin-left: 20px !important;
}
/*Resumen*/
.car-shop .resumen {
  border: solid 1px var(--color-primario);
  border-top: none;
  padding-top: 60px;
  padding: 60px 15px 0 15px;
}
.car-shop .resumen .ant-row {
  width: 100%;
  justify-content: center;
  padding: 0 15px;
}

.car-shop .resumen h3.ant-typography {
  width: 100%;
  color: var(--color-primario);
  text-align: center;
  padding: 0;
  margin: 0;
}

.car-shop .resumen .ant-col-11 span.ant-typography,
.car-shop .resumen .ant-col-10 span.ant-typography,
.car-shop .resumen .ant-col-24 span.ant-typography {
  color: var(--color-primario);
  font-size: 23px;
}

.car-shop .resumen .ant-col-24 {
  margin-top: 20px;
}

.car-shop .resumen .ant-col-24 input.ant-input {
  border-color: var(--color-primario);
}

.car-shop .resumen .ant-col-24 input.ant-input:hover,
.car-shop .resumen .ant-col-24 input.ant-input:focus {
  box-shadow: none;
}
.car-shop .resumen div.ant-col-9 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.car-shop .resumen .ant-col-24 button.ant-btn {
  width: 100%;
  border-color: var(--color-primario);
  border-radius: 10px;
  color: white;
  background-color: var(--color-primario);
}

.car-shop .resumen div.ant-col-13,
.car-shop .resumen div.ant-col-14 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.car-shop .resumen .ant-col-13 .ant-typography {
  color: red;
  font-size: 23px;
  font-weight: bold;
}

.car-shop .resumen .ant-col-14 .ant-typography {
  color: var(--color-primario);
  font-size: 23px;
  font-weight: bold;
}

.car-shop .resumen h1.ant-typography {
  width: 100%;
  color: red;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.car-shop .resumen h2.ant-typography {
  width: 100%;
  color: var(--color-primario);
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

/*carArticulos*/

.car-shop .car-articulos {
  margin: 30px 40px;
  width: 100%;
}

.car-shop .car-articulos .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  padding: 10px 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.car-shop .car-articulos .item div.ant-col.ant-col-13 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.car-shop .car-articulos .item div.ant-col.ant-col-13 > .ant-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.car-shop .car-articulos .item .ant-col.ant-col-13 h3.ant-typography {
  color: var(--color-primario) !important;
}

.car-shop .car-articulos .item .ant-col.ant-col-11 .ant-row .ant-col.ant-col-9 {
  display: flex;
  align-items: center;
}

.car-shop
  .car-articulos
  .item
  .ant-col.ant-col-11
  .ant-row
  .ant-col.ant-col-9
  h3.ant-typography {
  color: red;
}
.car-shop .car-articulos .item .ant-col.ant-col-11 .ant-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-shop
  .car-articulos
  .item
  .ant-col.ant-col-11
  .ant-row
  .ant-col.ant-col-6
  h4.ant-typography {
  color: var(--color-primario) !important;
  font-weight: normal;
  font-size: 15px;
}

.car-shop .car-articulos .item .ant-col.ant-col-11 .ant-row .ant-col.ant-col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-shop
  .car-articulos
  .item
  .ant-col.ant-col-11
  .ant-row
  .ant-col.ant-col-6
  div.ant-input-number {
  border-color: var(--color-primario);
  color: var(--color-primario);
  width: 70px !important;
}

.car-shop
  .car-articulos
  .item
  .ant-col.ant-col-11
  .ant-row
  .ant-col.ant-col-2
  svg:hover {
  cursor: pointer;
}

/*formulario datos envio*/

.car-shop .formulario-datosenvio input,
.car-shop .formulario-datosenvio div.ant-select-selector {
  background-color: var(--color-secundario);
  border-radius: 6px;
  border: none;
  font-size: 17px;
}
.car-shop .formulario-datosenvio input:hover,
.car-shop .formulario-datosenvio input:focus,
.car-shop .formulario-datosenvio div.ant-select-selector:hover,
.car-shop .formulario-datosenvio div.ant-select-selector:focus,
.car-shop .formulario-datosenvio div.ant-select-selector:target,
.car-shop .formulario-datosenvio button.ant-btn:hover,
.car-shop .formulario-datosenvio button.ant-btn:focus {
  box-shadow: none;
  border: none;
}

.car-shop .formulario-datosenvio h3.ant-typography {
  margin-left: 90px;
  margin-top: 40px;
  color: var(--color-primario);
}

.car-shop .formulario-datosenvio .ant-row .ant-form-item label {
  color: var(--color-primario) !important  ;
  font-size: 16px;
  line-height: 0;
}

.car-shop .formulario-datosenvio button.ant-btn {
  border-radius: 5px;
  background-color: var(--color-primario);
  color: white;
}

.car-shop .formulario-datosenvio span.ant-radio-inner {
  border-color: var(--color-primario) !important;
  box-shadow: none;
}

.car-shop .formulario-datosenvio span.ant-radio-inner::after {
  background-color: var(--color-primario);
}

/*Steps*/

.car-shop .steps-content {
  min-height: 530px;
}
.car-shop .ant-steps-item-container {
  border-color: white;
}
.car-shop .ant-steps-item-container * {
  color: var(--color-primario) !important;
}

.car-shop .ant-steps-item-container .ant-steps-item-icon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-shop .ant-steps-navigation .ant-steps-item::before {
  border: solid 1px var(--color-primario);
}

.car-shop .ant-btn-primary {
  box-shadow: none;
  border-color: var(--color-primario);
}

@media only screen and (max-width: 600px) {
  .car-shop
    div.ant-steps.ant-steps-horizontal.site-navigation-steps.ant-steps-label-horizontal.ant-steps-navigation {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
  }
  .car-shop .site-navigation-steps {
    display: flex;
    flex-direction: row;
  }
  .car-shop div.ant-steps-item-container {
    display: flex;
    flex-direction: column;
  }

  .car-shop div.ant-steps-item-title {
    text-align: center;
    font-size: 13px;
    width: 100% !important;
  }
  .car-shop .ant-steps-navigation {
    width: 50% !important;
  }

  .car-shop
    .ant-steps-item.ant-steps-item-process.ant-steps-item-custom.ant-steps-item-active::before {
    bottom: 0;
    top: 0;
    left: unset;
    display: block;
    width: 3px !important;
    width: 100%;
    background-color: var(--color-primario);
  }
  .car-shop
    .ant-steps-navigation
    > .ant-steps-item.ant-steps-item-active::before {
    display: none;
  }

  .car-shop
    .ant-steps-navigation
    > .ant-steps-item.ant-steps-item-active::before {
    bottom: 0;
    top: 0;
    left: unset;
    display: block;
    width: 3px;
    width: calc(100% - 24px);
  }
}
