.car-shop {
  margin: auto;
  width: 100%;
}
/*Resumen*/
.car-shop .resumen {
  border: solid 1px var(--color-primario);
  border-top: none;
  padding-top: 60px;
  padding: 60px 15px 0 15px;
}
.car-shop .resumen .ant-row {
  width: 100%;
  justify-content: center;
  padding: 0 15px;
}

.car-shop .resumen h3.ant-typography {
  width: 100%;
  color: var(--color-primario);
  text-align: center;
  padding: 0;
  margin: 0;
}

.car-shop .resumen .ant-col-11 span.ant-typography,
.car-shop .resumen .ant-col-10 span.ant-typography,
.car-shop .resumen .ant-col-24 span.ant-typography {
  color: var(--color-primario);
  font-size: 23px;
}

.car-shop
  .resumen
  .ant-col-24
  div.ant-select.ant-select-single.ant-select-show-arrow {
  width: 100% !important;
  border-color: var(--color-primario) !important;
}
.car-shop
  .resumen
  .ant-col-24
  div.ant-select.ant-select-single.ant-select-show-arrow
  select:hover,
.car-shop
  .resumen
  .ant-col-24
  div.ant-select.ant-select-single.ant-select-show-arrow
  select:focus {
  box-shadow: none;
}
.car-shop .resumen .ant-col-24 input.ant-input {
  border: solid 1px var(--color-primario);
}
.car-shop
  .resumen
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector,
.car-shop
  .resumen
  .ant-select:not(.ant-select-disabled):hover
  .ant-select-selector,
.car-shop
  .resumen
  .ant-select:not(.ant-select-disabled):focus
  .ant-select-selector,
.car-shop
  .resumen
  .ant-select:not(.ant-select-disabled):hover
  .ant-select-selector,
.car-shop
  .resumen
  .ant-select-focused.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: var(--color-primario);
  border-right-width: 1px !important;
  box-shadow: none;
}
.car-shop .resumen div.ant-col-9 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.car-shop .resumen .ant-col-24 button.ant-btn {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  height: auto;
  border-color: var(--color-primario);
  border-radius: 10px;
  color: white;
  background-color: var(--color-primario);
}

.car-shop .resumen div.ant-col-13,
.car-shop .resumen div.ant-col-14 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.car-shop .resumen .ant-col-13 .ant-typography {
  color: red;
  font-size: 23px;
  font-weight: bold;
}

.car-shop .resumen .ant-col-14 .ant-typography {
  color: var(--color-primario);
  font-size: 23px;
  font-weight: bold;
}

.car-shop .resumen h1.ant-typography {
  width: 100%;
  color: red;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.car-shop .resumen h2.ant-typography {
  width: 100%;
  color: var(--color-primario);
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

/*carArticulos*/

.car-shop .car-articulos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 950px !important ;
}

.car-shop .car-articulos .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 10px !important;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 5px;
  border-bottom: solid 1px var(--color-primario);
}

.car-shop .car-articulos .item div.ant-col.ant-col-11 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.car-shop .car-articulos .item div.ant-col.ant-col-11 > .ant-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.car-shop .car-articulos .item .ant-col.ant-col-11 h3.ant-typography {
  color: var(--color-primario) !important;
  text-align: start;
  margin: 0;
  margin-left: 10px;
}

.car-shop .car-articulos .item .ant-col.ant-col-11 .ant-row .ant-col.ant-col-9 {
  display: flex;
  align-items: center;
}

.car-shop
  .car-articulos
  .item
  .ant-col.ant-col-13
  .ant-row
  .ant-col.ant-col-8
  h3.ant-typography {
  color: red !important;
  text-align: end;
  margin: 0;
}
.car-shop .car-articulos .item .ant-col.ant-col-11 .ant-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-shop .car-articulos .item .rs-input-group .rs-input-number {
  display: initial;
}

.car-shop
  .car-articulos
  .item
  .ant-col.ant-col-11
  .ant-row
  .ant-col.ant-col-2
  svg:hover {
  cursor: pointer;
}

.car-shop .car-articulos span.react-numeric-input {
  width: 60%;
  margin-right: 2px;
}

.car-shop .car-articulos span.embalaje {
  color: var(--color-primario);
  font-size: 13px;
  margin: 0;
  justify-content: center;
}
.car-shop .car-articulos .ant-col-10 span.embalaje {
  font-size: 20px;
}
.car-shop .car-articulos .input-edit {
  width: 100%;
  border: solid 1px var(--color-primario) !important;
  font-size: 25px !important;
  border-radius: 5px !important;
  color: var(--color-primario) !important;
}
.car-shop .car-articulos .input-edit:hover,
.car-shop .car-articulos .input-edit:focus,
.car-shop .car-articulos .input-edit:active,
.car-shop .car-articulos .input-edit:target {
  border-color: var(--color-primario) !important;
  box-shadow: none;
}

.car-shop .car-articulos span.react-numeric-input > b {
  background-color: transparent !important;
  border-color: transparent !important;
}

/*formulario datos envio*/

.car-shop .formulario-datosenvio input,
.car-shop .formulario-datosenvio div.ant-select-selector {
  background-color: var(--color-secundario);
  border-radius: 6px;
  border: none;
  font-size: 17px;
}
.car-shop .formulario-datosenvio input:hover,
.car-shop .formulario-datosenvio input:focus,
.car-shop .formulario-datosenvio div.ant-select-selector:hover,
.car-shop .formulario-datosenvio div.ant-select-selector:focus,
.car-shop .formulario-datosenvio div.ant-select-selector:target,
.car-shop .formulario-datosenvio button.ant-btn:hover,
.car-shop .formulario-datosenvio button.ant-btn:focus {
  box-shadow: none;
  border: none;
}

.car-shop .formulario-datosenvio h3.ant-typography {
  margin-left: 90px;
  margin-top: 40px;
  color: var(--color-primario);
}

.car-shop .formulario-datosenvio .ant-row .ant-form-item label {
  color: var(--color-primario) !important  ;
  font-size: 16px;
  line-height: 0;
}

.car-shop .formulario-datosenvio button.ant-btn {
  border-radius: 5px;
  background-color: var(--color-primario);
  color: white;
}

.car-shop .formulario-datosenvio span.ant-radio-inner {
  border-color: var(--color-primario) !important;
  box-shadow: none;
  border-radius: initial;
}

.car-shop .formulario-datosenvio span.ant-radio-inner::after {
  background-color: var(--color-primario);
  border-radius: initial;
}

/*Steps*/

.car-shop .steps-content {
  min-height: 530px;
  width: 100%;
}
.car-shop .ant-steps-item-container {
  border-color: white;
}
.car-shop .ant-steps-item-container * {
  color: var(--color-primario) !important;
}

.car-shop .ant-steps-item-container .ant-steps-item-icon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-shop .ant-steps-navigation .ant-steps-item::before {
  border: solid 1px var(--color-primario);
}

.car-shop .ant-btn-primary {
  box-shadow: none;
  border-color: var(--color-primario);
}

@media only screen and (max-width: 600px) {
  /*steps*/

  .car-shop .steps-content {
    min-height: 100%;
  }
  .car-shop
    div.ant-steps.ant-steps-horizontal.site-navigation-steps.ant-steps-label-horizontal.ant-steps-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .car-shop div.ant-steps-item-title {
    font-size: 10px;
  }

  .car-shop div.ant-steps-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .car-shop .ant-steps-navigation > .ant-steps-item::after {
    display: none;
  }
  .car-shop
    div.ant-steps.ant-steps-horizontal.site-navigation-steps.ant-steps-label-horizontal.ant-steps-navigation {
    display: flex;
    width: 100%;
  }

  .car-shop
    div.ant-steps-item.ant-steps-item-process.ant-steps-item-custom.ant-steps-item-active,
  .car-shop div.ant-steps-item.ant-steps-item-wait.ant-steps-item-custom {
    width: 50%;
  }

  .car-shop div.ant-steps-item.ant-steps-item-wait.ant-steps-item-custom {
    flex: auto;
  }
  .car-shop
    .ant-steps-navigation
    > .ant-steps-item.ant-steps-item-active::before {
    top: auto;
    right: auto;
    left: 0;
    height: 0;
    width: 100%;
  }
  /*datos envio*/
  .car-shop .formulario-datosenvio h3.ant-typography {
    margin-left: 0;
  }
  /*artiulos*/

  .car-shop .car-articulos {
    height: auto !important;
  }

  .car-shop .item .ant-col-14 h2.ant-typography {
    font-size: 12px;
    color: var(--color-primario);
  }

  .car-shop .item .ant-col-14 h3.ant-typography {
    font-size: 25px;
    color: red;
  }
  .car-shop .item .ant-col-14 h4.ant-typography {
    font-size: 10px;
    font-weight: normal;
    color: var(--color-primario);
  }

  .car-shop .item .ant-col-14 .ant-col-7 {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .car-shop .item .ant-col-16 .ant-input-number {
    font-size: 10px !important;
    border: solid 1px var(--color-primario);
    padding: 0 !important;
  }

  .car-shop .car-articulos input.input-edit:hover,
  .car-shop .car-articulos input.input-edit:focus,
  .car-shop .car-articulos input.input-edit:active,
  .car-shop .car-articulos input.input-edit:target {
    border-color: var(--color-primario) !important;
    box-shadow: none;
  }
  /*resumen*/
  .car-shop .resumen {
    border: none;
  }

  .car-shop .resumen .ant-col-24 .ant-col-12 h2.ant-typography{
    font-size: 27px;
  }
}
