.seccion-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seccion-extra .carrousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-bottom: 80px;
}

.seccion-extra .carrousel .icons-left {
  font-size: 30px !important;
  margin-right: 30px;
}

.seccion-extra .carrousel .icons-right {
  font-size: 30px !important;
  margin-left: 30px;
}

.seccion-extra .multi-carrousel {
  display: block;
  width: 1150px;
}
.seccion-extra .anticon {
  font-size: 50px;
}

.seccion-extra .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 1px 1px gray;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  margin: 10px !important;
}
.seccion-extra .ant-typography {
  color: var(--color-primario) !important;
}
