.seccion-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seccion-extra .carrousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 80px;
}

.seccion-extra .carrousel .icons-left {
  font-size: 30px !important;
  margin-right: 25px;
}

.seccion-extra .carrousel .icons-right {
  font-size: 30px !important;
  margin-left: 25px;
}

.seccion-extra .multi-carrousel {
  display: block;
  width: 1150px;
}
.seccion-extra .anticon {
  font-size: 50px;
}

.seccion-extra .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  margin: 10px !important;
}

.seccion-extra .item:hover {
  cursor: pointer;
  transition-duration: 1s;
  transform: scale(1.04);
}
.seccion-extra .ant-typography {
  color: var(--color-primario) !important;
  font-size: 12px !important;
  padding: 10px 40px 20px 40px;
}

@media only screen and (max-width: 600px) {

  .seccion-extra .carrousel {
    padding-bottom: 50px;
  }
  .seccion-extra .multi-carrousel {
    width: 100%;
  }
  .seccion-extra .carrousel .icons-left {
    margin-right: 15px;
  }

  .seccion-extra .carrousel .icons-right {
    margin-left: 15px;
  }
  .seccion-extra .item {
    padding-top: 10px;
    margin: 5px !important;
    border-radius: 5px;
  }
  .seccion-extra .ant-typography {
    font-size: 8px !important;
    padding: 5px 10px 5px 10px;
  }
}
