.articulo-comprado-tag *.ant-typography {
  color: var(--color-primario);
}
.articulo-comprado-tag .fila1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 30px;
}
.articulo-comprado-tag .fila2 {
  line-height: 20px;
  height: auto;
  font-size: 20px;
  font-weight: bold;
}
.articulo-comprado-tag .fila3 {
  display: flex;
  flex-direction: column;

}

.articulo-comprado-tag .fila3 .ant-typography {
  font-size: 42px;
  line-height: 60px;
  margin-top: 0;
  font-weight: bold;
}

.articulo-comprado-tag .fila4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.articulo-comprado-tag .fila4 button {
  align-items: center;
  font-weight: bold;
  background-color: var(--color-naranja);
  color: white;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 10px;
}

.articulo-comprado-tag .fila4 button:hover,
.articulo-comprado-tag .fila4 button:focus {
  box-shadow: none;
  border-color: var(--color-primario) !important;
}

.articulo-comprado-tag .fila4 button.contrario {
  margin-top: 5px;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  color: var(--color-primario);
  background-color: white;
  border: none;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .articulo-comprado-tag .fila1{
    line-height: 30px;
  }

  .articulo-comprado-tag .fila2 {
    margin-top: 10px;
  }
  .articulo-comprado-tag .fila3 {
    text-align: center;
  }

  .articulo-comprado-tag .fila1 {
    font-size: 25px;
    font-weight: bold;
  }

  .articulo-comprado-tag .fila4 button {
    width: 300px;
    font-size: 20px;
    height: auto;
  }
  .articulo-comprado-tag .fila4 button.contrario {
    width: auto;
    
    font-size: 20px;
  }
}
