.articulos-tienda {
  margin: 0 50px;
}
/*HEAD*/
.articulos-tienda .head {
  display: flex;
  border-bottom: solid 1px var(--color-primario);
  padding: 0;
  position: relative;
  align-items: center;
}
.articulos-tienda .head * {
  color: var(--color-primario);
}

.articulos-tienda .head .ant-select {
  width: 100%;
  height: auto;
}

.articulos-tienda .head .ant-select .ant-select-selector,
.articulos-tienda .head .ant-select .ant-select-selector:hover,
.articulos-tienda .head .ant-select .ant-select-selector:focus,
.articulos-tienda .head .ant-select .ant-select-selector:target {
  border-color: var(--color-primario) !important;
  box-shadow: none;
  background-color: var(--color-secundario) !important;
  border-radius: 10px;
}
.articulos-tienda .ant-col .ant-col-8 {
  z-index: 1;
}
.articulos-tienda .head input {
  border: none;
  background-color: var(--color-secundario);
  border-radius: 10px;
  margin-left: -20px;
  padding-left: 30px;
  font-size: 16px;
}
.articulos-tienda .head input:hover,
.articulos-tienda .head input:focus,
.articulos-tienda .head input:target {
  border: none !important;
  box-shadow: none !important;
}

.articulos-tienda .head .ant-col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 0 0;
  border: solid 1px var(--color-primario);
  margin-left: -25px;
  background-color: var(--color-secundario);
}
.articulos-tienda .head .ant-col-2:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.articulos-tienda .head .ant-col-2 svg {
  font-weight: 700;
  font-size: 30px;
}

.articulos-tienda .head .ant-col-2 svg:hover {
  border: none !important;
  zoom: normal !important;
  transform: none !important;
}

/*ITEM*/

.articulos-tienda .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 18%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border: solid 1px var(--color-secundario);
  margin: 1%;
  border-radius: 10px;
}
.articulos-tienda .item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.articulos-tienda .item img {
  margin: 10% 2%;
  width: 80%;
}

.articulos-tienda .item h4.ant-typography {
  font-size: 10px;
  color: var(--color-primario);
}

.articulos-tienda .item .descripcion.ant-typography {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 10px;
  height: 50px;
  color: var(--color-primario);
}

.articulos-tienda .item .precio.ant-typography {
  font-size: 20px;
  color: var(--color-primario);
}
.articulos-tienda .item .embalaje.ant-typography {
  font-size: 13px;
  color: var(--color-primario);
}

.articulos-tienda .item button {
  font-size: 8px;
  background-color: var(--color-primario);
  color: white !important;
  margin-bottom: 15px;
  border-radius: 5px;
}
.articulos-tienda .item button:hover {
  box-shadow: none !important;
  border-color: var(--color-primario);
}

.articulos-tienda .paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articulos-tienda .paginacion .ant-pagination .mini {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.articulos-tienda .paginacion {
  margin-top: 30px;
}
.articulos-tienda .paginacion .ant-pagination * {
  font-size: 40px;
}

.articulos-tienda .paginacion .ant-pagination .ant-pagination-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articulos-tienda
  .paginacion
  .ant-pagination
  .ant-pagination-item
  .ant-pagination-item-1
  .ant-pagination-item-active
  a:hover,
.articulos-tienda .paginacion .ant-pagination .ant-pagination-item-active {
  border: none !important;
  font-weight: bold;
}
