.articulos-tienda {
  margin: 0 50px;
}
/*HEAD*/
.articulos-tienda .head {
  border-bottom: solid 1px var(--color-primario);
  position: relative;
  align-items: center;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
}
.articulos-tienda .head * {
  color: var(--color-primario);
}

.articulos-tienda .head .ant-select {
  width: 100%;
  height: auto;
}

.articulos-tienda .head .ant-select .ant-select-selector,
.articulos-tienda .head .ant-select .ant-select-selector:hover,
.articulos-tienda .head .ant-select .ant-select-selector:focus,
.articulos-tienda .head .ant-select .ant-select-selector:target {
  border-color: var(--color-primario) !important;
  box-shadow: none;
  background-color: var(--color-secundario) !important;
  border-radius: 10px;
}
.articulos-tienda .ant-col .ant-col-8 {
  z-index: 1;
}
.articulos-tienda .head input {
  border: none;
  background-color: var(--color-secundario);
  border-radius: 10px;
  margin-left: -20px;
  padding-left: 30px;
  font-size: 16px;
}
.articulos-tienda .head input:hover,
.articulos-tienda .head input:focus,
.articulos-tienda .head input:target {
  border: none !important;
  box-shadow: none !important;
}

.articulos-tienda .head .ant-col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 0 0;
  border: solid 1px var(--color-primario);
  margin-left: -25px;
  background-color: var(--color-secundario);
}
.articulos-tienda .head .ant-col-2:hover {
  transition-duration: 0.5s;
  transform: scale(1.04);
  cursor: pointer;
}
.articulos-tienda .head .ant-col-2 svg {
  font-weight: 700;
  font-size: 30px;
}

.articulos-tienda .head .ant-col-2 svg:hover {
  border: none !important;
  zoom: normal !important;
  transform: none !important;
}

/*ITEM*/

.articulos-tienda .item {
  width: 18%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border: solid 1px var(--color-secundario);
  margin: 1%;
  border-radius: 10px;
  text-align: center;
}
.articulos-tienda .item:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  transform: scale(1.04);
}

.articulos-tienda .item img {
  margin: 10px 0;
}

.articulos-tienda .item h3.ant-typography {
  color: var(--color-primario);
  font-size: 12px;
  width: 85%;
  line-height: 110%;
  height: 28px;
  overflow-y: hidden;
}

.articulos-tienda .item .descuento.ant-typography {
  font-size: 10px;
  color: darkgray;
  line-height: 15px;
}

.articulos-tienda .item .precio.ant-typography {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primario);
  line-height: 20px;
  margin-left: 1px;
}

.articulos-tienda .item .embalaje.ant-typography {
  font-size: 13px;
  color: var(--color-primario);
}

.articulos-tienda .item button {
  font-size: 12px;
  background-color: var(--color-primario);
  color: white !important;
  margin: 10px 0;
  border-radius: 5px;
}
.articulos-tienda .paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articulos-tienda .paginacion .ant-pagination .mini {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.articulos-tienda .paginacion {
  margin-top: 30px;
}

.articulos-tienda .paginacion .ant-pagination * {
  font-size: 30px;
}

.articulos-tienda .paginacion .ant-pagination .ant-pagination-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articulos-tienda
  .paginacion
  .ant-pagination
  .ant-pagination-item
  .ant-pagination-item-1
  .ant-pagination-item-active
  a:hover,
.articulos-tienda .paginacion .ant-pagination .ant-pagination-item-active {
  border: none !important;
  font-weight: bold;
}

/*estrellas*/
.articulos-tienda .estrellas-item {
  position: relative;
  display: inline-block;
}
.articulos-tienda .estrellas-cantidad {
  position: absolute;
  display: flex;
  background: var(--color-primario);
  width: min-content;
  max-height: 1000px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: white;
  padding: 5px 10px 5px 5px;
  top: 0%;
  left: 0%;
  border-top-left-radius: 10px;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  /*encabezado*/
  .articulos-tienda .head {
    display: flex;
    flex-direction: column;
  }

  .articulos-tienda .head * {
    width: 100%;
  }

  .articulos-tienda .head h1.ant-typography {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--color-primario);
  }

  .articulos-tienda .head .ant-col-7 .ant-col-8 svg:hover {
    border: none !important;
    zoom: normal !important;
    transform: none !important;
  }
  .articulos-tienda .head .ant-col-7 .ant-col-8 svg {
    width: 20px;
    height: auto;
  }

  .articulos-tienda .head input {
    font-size: 10px !important;
  }
  .articulos-tienda
    .head
    .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector {
    font-size: 7px !important;
    height: 24px;
    z-index: 5;
    width: 100%;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .articulos-tienda .head .ant-select-arrow {
    z-index: 10;
    width: max-content;
  }
  .articulos-tienda .head .ant-select-item-option-content {
    font-size: 7px !important;
  }

  .articulos-tienda .head .filtro h4.ant-typography {
    font-size: 15px;
  }
  .articulos-tienda .head span.anticon.anticon-search {
    width: 12px !important;
    margin: 0;
  }
  .articulos-tienda .head .ant-col-2 {
    height: 25px !important;
    margin-left: -35px;
  }
  .articulos-tienda .ant-col .ant-col-10 {
    margin: 0;
  }

  /*item*/

  .articulos-tienda .item {
    box-shadow: none;
    border: none;
    border-bottom: solid 1px var(--color-primario);
    border-radius: 0;
    text-align: center;



    width: 100%;
    padding: 10px 0;
    text-align: left;
  }

  .articulos-tienda .item .ant-col-8 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .articulos-tienda .item img {
    margin-top: 0;
  }
  .articulos-tienda .item h3.ant-typography {
    width: 100%;
    line-height: 110%;
  }
  .articulos-tienda .item button {
    font-size: 15px;
  }

  .articulos-tienda .item .precio.ant-typography {
    font-size: 21px;
  }

  .articulos-tienda .estrellas-cantidad {
    top: 0%;
    left: 0%;
    border-top-left-radius: 0px;
  }
}
