.validacion {
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 20px;
}
.validacion * {
  color: var(--color-primario);
}

.validacion .head {
  padding: 30px 40px 0px 50px;
  position: relative;
}

.validacion .head .texto {
  text-align: end;
}

.validacion .head .texto .ant-typography {
  color: var(--color-primario) !important;
}
.validacion .head svg:hover {
  border: none !important;
}

.validacion .body {
  background-color: white;
}

.validacion .footer {
  background-color: white;
}

.validacion .footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90%;
  margin: 0 5%;
  font-size: 23px;
  font-weight: bold;
  height: auto;
  background-color: white;
  border:solid 1px var(--color-primario);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.validacion .footer button:hover {
  zoom: 105%;
}
.validacion .footer path {
  color: #3b5998 !important;
}
.validacion .footer svg,
.validacion .footer img {
  margin-right: 10px;
}

/*FormularioS*/

.validacion h3.ant-typography {
  color: var(--color-primario) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-weight: normal;
  font-size: 20px;
}

.validacion .body .ant-input {
  border-radius: 5px;
  background-color: var(--color-secundario) !important;
}

.validacion .body .ant-row .ant-form-item {
  margin-bottom: 0;
}
.validacion
  .body
  span.ant-input-password.ant-input-affix-wrapper.ant-input-affix-wrapper-sm:hover,
span.ant-input-password.ant-input-affix-wrapper.ant-input-affix-wrapper-focused.ant-input-affix-wrapper-sm,
.validacion .body .ant-input:focus,
.validacion .body .ant-input:hover {
  border-color: var(--color-primario) !important;
  box-shadow: none;
}

.validacion .body .ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  font-size: 21px;
  letter-spacing: 2px;
  margin: 0;
  padding: 16px 10px;
}

.validacion .body .ant-tabs-nav-list {
  width: 100%;
  align-items: center;
  justify-content: flex-start !important;
}

.validacion .body .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-primario);
  font-weight: bold;
}

.validacion .body .ant-tabs-tab-btn:hover,
.validacion .body .ant-tabs-tab-btn::before,
.validacion .body .ant-tabs-tab-btn::before {
  color: var(--color-primario);
}

.validacion .body .ant-tabs-ink-bar {
  background: var(--color-primario) !important;
  width: 50% !important;
}

.validacion .body .ant-tabs-nav-operations {
  display: none !important;
}
.validacion .body .ant-form-item {
  margin-bottom: 0;
}
.validacion .body .ant-form label {
  display: flex;
  align-items: center;
}
.validacion .body .ant-col .ant-col-24 {
  margin: 20px 0 20px 0;
}
.validacion .body .ant-col .ant-col-24 a {
  font-weight: bold;
}
.validacion .body .ant-form-item-explain > div {
  color: red !important;
}
.validacion .body .ant-checkbox-input {
  border-color: var(--color-primario) !important;
}

.validacion .body .ant-checkbox-checked .ant-checkbox-inner,
.validacion .body .ant-checkbox:focus {
  background-color: var(--color-primario) !important;
  border-color: var(--color-primario) !important;
}

.validacion .body span.ant-checkbox.ant-checkbox-checked:after {
  border: none !important;
}

.validacion .body .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: var(--color-primario) !important;
}
.validacion .body input:hover,
.validacion
  .ant-input-password
  .ant-input-affix-wrapper
  .ant-input-affix-wrapper-sm:hover {
  border-color: var(--color-primario) !important;
}

.validacion .body .ant-tabs-tabpane {
  border-bottom: solid 1px var(--color-primario);
  padding-bottom: 10px;
}

.validacion .body .ant-tabs-tabpane button {
  min-width: 90%;
  margin: 0 5%;
  margin-bottom: 3%;
  font-size: 25px;
  font-weight: bold;
  height: auto;
  border-color: var(--color-primario);
  border-radius: 10px;
}

.validacion .body .ant-tabs-tabpane button:hover {
  zoom: 105%;
}

.validacion .body a {
  padding: 10px 0 50px 0;
}
.validacion .body a:hover {
  color: var(--color-cuaternario);
}

@media only screen and (max-width: 600px) {
  .validacion .head .texto .ant-typography {
    font-size: 14px;
  }

  .validacion .head {
    padding: 20px 15px 0px 15px;
  }

  .validacion .body .ant-tabs-large > .ant-tabs-nav .ant-tabs-tab,
  .validacion
    .body
    .ant-tabs-large
    > .ant-tabs-nav
    .ant-tabs-tab
    .ant-tabs-tab-btn {
    width: 100%;
    text-align: center;
  }

  .validacion .body .ant-row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .validacion .body .ant-col .ant-col-24,
  .validacion .body .ant-row .ant-form-item,
  .validacion .body .ant-form-item .ant-form-item-control {
    width: 100%;
  }
  .validacion .body .ant-form-item .ant-form-item-control label,
  .validacion .body .ant-form-item .ant-form-item-control input,
  .validacion .body .ant-form-item .ant-form-item-control svg {
    font-size: 28px;
  }
  .validacion .body .ant-typography {
    font-size: 24px;
  }
  .validacion .body .ant-tabs-tabpane button {
    min-width: 90%;
    margin: 0 5%;
    font-size: 25px;
    font-weight: bold;
    height: auto;
    background-color: var(--color-primario);
    border-radius: 10px;
  }

  .validacion .body .ant-tabs-tabpane button span {
    color: white;
    max-width: 100%;
  }

  .validacion .footer {
    width: 100%;
  }

  .validacion .footer svg {
    margin: 1px 0;
  }

  .validacion .footer img {
    margin-right: 0px;
  }

  .validacion .body span .ant-checkbox-inner {
    transform: scale(3);
    margin-left: 30px;
  }
  .validacion .body .ant-checkbox + span {
    margin-left: 40px;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
