.seccionproductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin: 30px 0;
  padding: 0 0;
  min-height: 350px;
  text-align: center;
  width: 100%;
}

.seccionproductos h2.ant-typography {
  color: var(--color-primario) !important;
  font-size: 50px;
  margin: 50px;
  border-bottom: 2px solid white !important;
}
.seccionproductos h2.ant-typography:hover {
  border-bottom: 2px solid var(--color-primario) !important;
  cursor: pointer;
}
.seccionproductos .agrupaciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
}

.seccionproductos h1.ant-typography {
  color: var(--color-primario) !important;
  font-size: 50px;
  width: 94%;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-primario) !important;
}

/*Styles seccion*/

.seccionproductos .agrupacion h4.ant-typography {
  display: flex;
  align-items: center;
  color: var(--color-primario) !important;
  background-color: white !important;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
  min-height: 70px;
  justify-content: center;
}

.seccionproductos .agrupacion {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  margin: 0 0 50px 0;
}
.seccionproductos .agrupacion img:hover{
  cursor: pointer;
  transform: scale(1.1);
}
