.secciondomicilios {
  background-size: 100%;
  background-color: var(--color-fondo1);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 94%;
  margin-left:3%;
  margin-right:3%;
  padding-top: 20px;
  color: var(--color-primario);
  border-bottom: 1px solid var(--color-primario) !important;
}

.secciondomicilios .ant-typography {
  margin-right: 40px;
  color: var(--color-primario);
}
.secciondomicilios svg {
  margin-bottom: 39px;
}
