.secciondomicilios {
  background-image: url("/img/bg/fondo-pe.png");
  background-size: 100%;
  background-color: white;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  min-width: 100%;
  min-height: 320px;
  padding-bottom: 70px;
  color: white;
}

.secciondomicilios .ant-typography {
  margin-right: 40px;
  color: white;
}
