.pie {
  background-size: 100%;
  background-color: var(--color-secundario);
  background-repeat: no-repeat;
  padding: 20px 60px 20px 60px;
  color: var(--color-primario);
  margin-top:50px
}
.pie .ant-typography {
  color: var(--color-primario);;
  margin-left: 20px;
  margin-bottom: 10px;
}
.pie span.ant-typography {
  font-size: 21px;
}
