.pie {
  background-image: url("/img/bg/fondo-gra.png");
  background-size: 100%;
  background-color: white;
  background-repeat: no-repeat;
  padding: 170px 60px 20px 60px;
  color: white;
}
.pie .ant-typography {
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;
}
.pie span.ant-typography {
  font-size: 21px;
}
.pie .otros .ant-col.ant-col-8 {
  border-left: solid;

}

.pie .sinborde {
  border-left: none!important;
}
