:root {
  --color-primario: #331f0e;
  --color-secundario: #f4f1df;
}

* {
  font-family: Comfortaa !important;
}

.ant-layout-header {
  padding: 0 !important;
  width: 100%;
  height: 100% !important;
  background-color: white !important;
}
.ant-layout-content {
  background-color: white !important;
}
