:root {
  --color-primario: #4c2e1e;
  --color-secundario: #eaeaea;
  --color-terciario: #664a36;
  --color-cuaternario: #294c0a;
}

* {
  font-family: "Lato" !important;
}
.whats-icon {
  position: fixed;
  z-index: 99;
  bottom: 30px;
  color: white;
  right: 30px;
  background-color: #31c76a;
  padding: 15px;
  border-radius: 50%;
}

.whats-icon:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  transform: scale(1.1);
}

.ant-layout-header {
  padding: 0 !important;
  width: 100%;
  height: 118px !important;
  background-color: white !important;
  margin-bottom: 0;
}
.ant-layout-content {
  background-color: white !important;
  z-index: 98;
}
.ant-layout-footer {
  padding: 0 !important;
  background-color: white !important;
}
@media only screen and (max-width: 600px) {
  .ant-layout-header {
    height: 100px !important;
  }
}
