:root {
  --color-primario: #331f0e;
  --color-secundario: #f4f1df;
  --color-fondo1: #F2921D;
  --color-texto: #212121;
}

* {
  font-family: "Lato" !important;
}

.ant-layout-header {
  padding: 0 !important;
  width: 100%;
  height: 100% !important;
  background-color: white !important;
  margin-bottom: 0;
}
.ant-layout-content {
  background-color: white !important;
}
.ant-layout-footer {
  padding: 0 !important;
  background-color: white !important;
}
